# MongoDB

![memesmongo](../images/mongo.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¬øQu√©-es-MongoDB?" data-toc-modified-id="¬øQu√©-es-MongoDB?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¬øQu√© es MongoDB?</a></span></li><li><span><a href="#¬øQu√©-es-la-base-de-datos-MongoDB?" data-toc-modified-id="¬øQu√©-es-la-base-de-datos-MongoDB?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>¬øQu√© es la base de datos MongoDB?</a></span><ul class="toc-item"><li><span><a href="#Peque√±a-explicaci√≥n-animada-ü§î" data-toc-modified-id="Peque√±a-explicaci√≥n-animada-ü§î-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Peque√±a explicaci√≥n animada ü§î</a></span></li></ul></li><li><span><a href="#Instalaciones" data-toc-modified-id="Instalaciones-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Instalaciones</a></span></li><li><span><a href="#Creaci√≥n-de-bases-de-datos" data-toc-modified-id="Creaci√≥n-de-bases-de-datos-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creaci√≥n de bases de datos</a></span></li><li><span><a href="#Conexi√≥n-con-Python" data-toc-modified-id="Conexi√≥n-con-Python-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Conexi√≥n con Python</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-al-servidor" data-toc-modified-id="Nos-conectamos-al-servidor-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nos conectamos al servidor</a></span></li></ul></li><li><span><a href="#Prueba-bonus-lab" data-toc-modified-id="Prueba-bonus-lab-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Prueba bonus lab</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-con-la-base-de-datos" data-toc-modified-id="Nos-conectamos-con-la-base-de-datos-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Nos conectamos con la base de datos</a></span></li></ul></li><li><span><a href="#Operaciones-b√°sicas-de-gesti√≥n-de-bases-de-datos" data-toc-modified-id="Operaciones-b√°sicas-de-gesti√≥n-de-bases-de-datos-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Operaciones b√°sicas de gesti√≥n de bases de datos</a></span><ul class="toc-item"><li><span><a href="#Creamos-y-borramos-colecciones-desde-python" data-toc-modified-id="Creamos-y-borramos-colecciones-desde-python-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Creamos y borramos colecciones desde python</a></span></li><li><span><a href="#Nos-conectamos-a-una-colecci√≥n-en-concreto-para-hacer-las-consultas" data-toc-modified-id="Nos-conectamos-a-una-colecci√≥n-en-concreto-para-hacer-las-consultas-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Nos conectamos a una colecci√≥n en concreto para hacer las consultas</a></span></li></ul></li><li><span><a href="#Consultas-en-Mongo" data-toc-modified-id="Consultas-en-Mongo-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Consultas en Mongo</a></span><ul class="toc-item"><li><span><a href="#M√©todo-find_one" data-toc-modified-id="M√©todo-find_one-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>M√©todo <code>find_one</code></a></span></li><li><span><a href="#M√©todo-find" data-toc-modified-id="M√©todo-find-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>M√©todo <code>find</code></a></span></li></ul></li><li><span><a href="#Proyecci√≥n" data-toc-modified-id="Proyecci√≥n-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Proyecci√≥n</a></span></li><li><span><a href="#Otros-m√©todos" data-toc-modified-id="Otros-m√©todos-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Otros m√©todos</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Operadores-de-consulta-t√≠picos" data-toc-modified-id="Operadores-de-consulta-t√≠picos-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Operadores de consulta t√≠picos</a></span><ul class="toc-item"><li><span><a href="#Mayor-que-/-Menor-que" data-toc-modified-id="Mayor-que-/-Menor-que-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Mayor que / Menor que</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-11.5"><span class="toc-item-num">11.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-11.6"><span class="toc-item-num">11.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-11.7"><span class="toc-item-num">11.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-11.8"><span class="toc-item-num">11.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Query-7-del-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field.¬∂" data-toc-modified-id="Query-7-del-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field.¬∂-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Query 7 del lab . All the companies that have a null type of value on the category_code field.¬∂</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Insert" data-toc-modified-id="Insert-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Insert</a></span></li><li><span><a href="#Info-extra" data-toc-modified-id="Info-extra-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Info extra</a></span></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Resumen</a></span></li><li><span><a href="#Further-Materials" data-toc-modified-id="Further-Materials-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Further Materials</a></span></li></ul></div>

##¬†¬øQu√© es MongoDB?    
   
MongoDB (del ingl√©s humongous, "enorme") es un sistema de base de datos NoSQL, orientado a documentos y de c√≥digo abierto.
En lugar de guardar los datos en tablas, tal y como se hace en las bases de datos relacionales, MongoDB guarda estructuras de datos BSON (una especificaci√≥n similar a JSON) con un esquema din√°mico, haciendo que la integraci√≥n de los datos en ciertas aplicaciones sea m√°s f√°cil y r√°pida.
MongoDB es una base de datos adecuada para su uso en producci√≥n y con m√∫ltiples funcionalidades. Esta base de datos se utiliza mucho en la industria, contando con implantaciones en empresas como MTV Network,  Craiglist, Foursquare.       
El c√≥digo fuente est√° disponible para los sistemas operativos --> Windows, GNU/Linux, OS X y Solaris.

## ¬øQu√© es la base de datos MongoDB?

Una base de datos, es decir, una forma estructurada de almacenar y acceder a los datos, m√°s espec√≠ficamente, es una base de datos NoSQL.
NoSQL es un t√©rmino muy gen√©rico que se utiliza para describir cualquier almac√©n de datos que no utiliza el enfoque heredado de tablas de datos relacionadas.
Esto significa que est√° almacenando sus datos de una manera organizada, pero no en filas y columnas Un ejemplo de bases de datos NoSQL puede ser cualquier cosa, desde un cat√°logo de tarjetas de biblioteca, a un almac√©n de datos m√°s sofisticado como MongoDB.
Dado que el rango de lo que significa NoSQL es tan amplio, debemos acotar m√°s nuestra definici√≥n.
MongoDB es una base de datos de documentos NoSQL.
Esto significa que los datos en MongoDB se almacenan como documentos, estos documentos se almacenan a su vez en lo que llamamos colecciones de documentos, Por eso MongoDB se clasifica como una base de datos de documentos NoSQL.

En conclusi√≥n, la base de datos MongoDB es una base de datos de documentos NoSQL.

###¬†Peque√±a explicaci√≥n animada ü§î
Veamos juntas [este](https://www.youtube.com/watch?v=DM4gD6Z5zFU) v√≠deo

##¬†Instalaciones
Encontrar√°s todo lo referente a las instalaciones [AQU√ç](https://github.com/Ironhack-Data-Madrid-Agosto-2021/classroom-materials/blob/main/week_04/00-mongoDB-installation.ipynb)

## Creaci√≥n de bases de datos
Hemos visto que a trav√©s de MongoDB compass pod√≠amos crear una base de datos, una colecci√≥n e importar los datos en formato JSON de manera sencilla. 
Tambi√©n podemos hacerlo mediante la interfaz de comandos o CLI de mongo.

In [ ]:
#$ mongoimport --db nombredelabasededatos --collection nombredelacolecci√≥n --file archivo.json

Nos ubicamos en la terminal en la carpeta donde hayamos descargado el json de "companies". El comando lo que hace es importar a la base de daatos de ironhack, dentro de la colecci√≥n companies, ese json. Si introducimos un nombre de base de datos que no existe o de colecci√≥n que no existe, MongoDB lo crea por nosotras autom√°ticamente.

## Conexi√≥n con Python

Lo primero que vamos a necesitar para conectar python con el servidor de bases de datos de MongoDB es instalar la siguiente librer√≠a
```python
#!pip install pymongo
```
Y recuerda: Tienes que [leer la documentaci√≥n](https://pymongo.readthedocs.io/en/stable/)

In [220]:
from pymongo import MongoClient

###¬†Nos conectamos al servidor
El servidor de Mongo tiene que estar activo y normalmente est√° corriendo en el puerto 27017, siempre se conecta a este puerto por defecto

In [221]:
# Con el comando MongoClient establecemos conexi√≥n con el servidor
client = MongoClient("localhost:27017")

In [222]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [223]:
# Mostrar los nombres de las bases de datos existentes

In [5]:
client.list_database_names()

['HP', 'admin', 'config', 'ironhack', 'local', 'spotify']

##¬†Prueba bonus lab

In [224]:
companies = db.get_collection("companies")

In [230]:
query = {"$where": '(this.deadpooled_year - this.founded_year >3)'}

In [232]:
list(companies.find(query));

###¬†Nos conectamos con la base de datos

In [6]:
# Para crear una conexi√≥n con la base de datos en la que vayamos a trabajar
db = client.get_database("ironhack")

In [8]:
harry = client.get_database("HP")

In [11]:
harry

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'HP')

Realmente voy a poder hacer queries con la conexi√≥n a la base de datos directamente sin conectarme a la colecci√≥n, pero a m√≠ me resulta m√°s c√≥modo guardarme las colecciones en variables para acceder m√°s r√°pido a ellas.

In [13]:
harry["frases"].find_one()

{'_id': ObjectId('60e6c9095c6cf27ca52647ac'),
 'scene': 1,
 'character_name': 'Minerva McGonagall',
 'dialogue': 'And the boy?'}

In [7]:
db.list_collection_names()

['restaurants']

In [9]:
c = db.get_collection("restaurants")

In [10]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'restaurants')

## Operaciones b√°sicas de gesti√≥n de bases de datos

### Creamos y borramos colecciones desde python

In [16]:
# Podemos crear colecciones como hemos visto antes con la GUI de MongoDB (Mongo Compass) o desde aqu√≠ mismo
#¬†Creamos la colecci√≥n
db.create_collection("PRUEBA")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'PRUEBA')

In [17]:
# Listamos las colecciones y vemos si se ha creado la colecci√≥n
db.list_collection_names()

['restaurants', 'PRUEBA']

In [18]:
#¬†Borramos la colecci√≥n que acabamos de crear
db.drop_collection("PRUEBA")

{'nIndexesWas': 1, 'ns': 'ironhack.PRUEBA', 'ok': 1.0}

In [19]:
# Comprobamos de nuevo
db.list_collection_names()

['restaurants']

### Nos conectamos a una colecci√≥n en concreto para hacer las consultas

In [20]:
# Elegimos la colecci√≥n con la que vamos a trabajar
c = db.get_collection("restaurants")

In [21]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'restaurants')

## Consultas en Mongo

Para explorar c√≥mo son los documentos en mi colecci√≥n, qu√© forma y qu√© campos tienen, puedo irme a Mongo Compass y explorar la colecci√≥n, o puedo elegir un documento sin filtrar.

![undocumento](../images/compass1.png)

In [ ]:
##¬†Hag√°moslo en Python

### M√©todo `find_one` 
`collection.find_one(filter)`

In [22]:
# Si no pongo ning√∫n filtro, me dar√° el primer documento
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [23]:
primer_documento = c.find_one()

In [24]:
type(primer_documento)

dict

In [25]:
primer_documento

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [26]:
# Ojo, porque no todos los documentos tienen por qu√© tener las mismas keys, Mongo es flexible para esto
c.find_one().keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

# Queremos buscar los restaurantes tailandeses
Este ser√≠a el filtro üëáüèª
```python
{"type_of_food": "Thai"}
```

SELECT *
WHERE "type_of_food" = "Thai"

In [27]:
c.find_one({"type_of_food": "Thai"})

{'_id': ObjectId('55f14312c7447c3da7051b28'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
 'address': '30 Greyhound Road Hammersmith',
 'address line 2': 'London',
 'name': '@ Thai Restaurant',
 'outcode': 'W6',
 'postcode': '8NX',
 'rating': 4.5,
 'type_of_food': 'Thai'}

### M√©todo `find` 
`collection.find(filter)`

In [39]:
documentos = c.find()

In [40]:
documentos

In [30]:
type(documentos)

pymongo.cursor.Cursor

El m√©todo de colecci√≥n `pymongo` devuelve un Cursor:
 * un Cursor es un iterador
 * un Cursor tiene el m√©todo `__next__` (la funci√≥n `next` devuelve el siguiente elemento en el flujo)
 * `pymongo` no trae informaci√≥n a la memoria hasta que se necesita
 * un Cursor no tiene `len`.

In [33]:
documentos.next()

{'_id': ObjectId('55f14312c7447c3da7051b28'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
 'address': '30 Greyhound Road Hammersmith',
 'address line 2': 'London',
 'name': '@ Thai Restaurant',
 'outcode': 'W6',
 'postcode': '8NX',
 'rating': 4.5,
 'type_of_food': 'Thai'}

In [34]:
len(documentos)

TypeError: object of type 'Cursor' has no len()

In [35]:
documentos_lista = list(documentos)

In [36]:
len(documentos_lista)

2545

In [41]:
type(documentos_lista)

list

In [44]:
print(documentos_lista[0:3])

[{'_id': ObjectId('55f14312c7447c3da7051b2b'), 'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu', 'address': '6 Drummond Street', 'address line 2': 'Rotherham', 'name': '007 Takeaway', 'outcode': 'S65', 'postcode': '1HY', 'rating': 6, 'type_of_food': 'Pizza'}, {'_id': ObjectId('55f14312c7447c3da7051b29'), 'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu', 'address': '30 Greyhound Road Hammersmith', 'address line 2': 'London', 'name': '@ Thai Restaurant', 'outcode': 'W6', 'postcode': '8NX', 'rating': 4.5, 'type_of_food': 'Thai'}, {'_id': ObjectId('55f14312c7447c3da7051b2c'), 'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu', 'address': '885 High Road Leytonstone', 'address line 2': 'London', 'name': '042 Restaurant & Bar', 'outcode': 'E11', 'postcode': '1HR', 'rating': 3, 'type_of_food': 'African'}]

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame(documentos_lista)
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b2b,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6,Pizza
1,55f14312c7447c3da7051b29,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
2,55f14312c7447c3da7051b2c,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3,African
3,55f14312c7447c3da7051b2e,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3,African
4,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai

In [ ]:
# Hacemos un filtrado para ver los que tienen un rating de 5

In [49]:
cinco = list(c.find({"rating":5}))

In [ ]:
# Usamos comillas para encontrar

In [51]:
c.find({rating:5})

NameError: name 'rating' is not defined

##¬†Proyecci√≥n
Cuando se realiza una consulta en MongoDB usando .find() lo que retorna dicha consulta es el conjunto de documentos correspondientes a la consulta. Se devolver√°n por defecto los documentos completos con todos sus campos. Aunque podemos seleccionar los campos de un documento que queremos devuelva la consulta, o lo que es lo mismo hacer una MongoDB Projection.    
Si queremos seleccionar varios campos, simplemente tenemos que indicar el nombre del campo seguido de un 1. O bien usar un 0 para eliminar los campos a mostrar:

El campo `_id` se devuelve por defecto

Sintaxis:    
`collection.find(filtro, proyecci√≥n)`

In [56]:
proyec = {"rating": 1, "name":1, "URL": 1}

In [57]:
query = {"type_of_food": "Thai"}

In [55]:
list(c.find({"type_of_food": "Thai"},{"rating": 1, "name":1, "URL": 1})) #Incluyo los diccionarios en la sintaxis

In [58]:
thai_proj = list(c.find(query,proyec)) #Guardo las variables en otro lugar

In [61]:
thai_proj[0:1]

[{'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5}]

In [ ]:
# Si queremos que no nos muestre el ObjectId

In [62]:
proyec_2 = {"rating": 1, "name":1, "URL": 1, "_id":0}

In [63]:
list(c.find(query,proyec_2))[0]

{'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
 'name': '@ Thai Restaurant',
 'rating': 4.5}

## Otros m√©todos

### `distinct`
¬øCu√°ntos valores distintos tiene un campo en toda la colecci√≥n?

In [64]:
c.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 'Not yet rated']

In [65]:
c.distinct("type_of_food")

['*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers',
 'Cakes',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Curry',
 'Desserts',
 'English',
 'Ethiopian',
 'Fish & Chips',
 'Greek',
 'Grill',
 'Healthy',
 'Ice Cream',
 'Japanese',
 'Kebab',
 'Korean',
 'Lebanese',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Milkshakes',
 'Moroccan',
 'Nigerian',
 'Pakistani',
 'Pasta',
 'Peri Peri',
 'Persian',
 'Pick n Mix',
 'Pizza',
 'Polish',
 'Portuguese',
 'Punjabi',
 'Russian',
 'Sandwiches',
 'South Curry',
 'Spanish',
 'Sri-lankan',
 'Sushi',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese']

### `count`
Devuelve el recuento de documentos que coincidir√≠an con una consulta find() para la colecci√≥n o vista. El m√©todo db.collection.count() no realiza la operaci√≥n find() sino que cuenta y devuelve el n√∫mero de resultados que coinciden con una consulta.
Sintaxis:    
     
`collection.count_documents(filtro)`

In [66]:
c.count_documents({})

2548

In [67]:
len(list(c.find()))

2548

In [152]:
c.count_documents({"type_of_food": "Pasta"})

1

In [68]:
import time

In [71]:
# Directamente me cuenta los documentos en mongo que cumplen con el filtro y no necesito traerlos
%time
c.count_documents({"rating":6})

CPU times: user 2 ¬µs, sys: 1 ¬µs, total: 3 ¬µs
Wall time: 6.2 ¬µs

49

In [74]:
#Equivalente pero cargando todo en memoria al extraer con list la informaci√≥n del cursor
%time
len(list(c.find({"rating":6})))

CPU times: user 4 ¬µs, sys: 1 ¬µs, total: 5 ¬µs
Wall time: 9.06 ¬µs

49

### `sort`
Podemos `ordenar` el resultado de un `find`

`1` --> Orden ascendente     
`-1` --> Orden desdendente

In [77]:
proy = {'rating': 1, 'name': 1, 'URL': 1, '_id': 0, 'type_of_food':1}

In [78]:
chinos = list(c.find({"type_of_food": "Chinese"}, proy))

In [80]:
chinos[0:3]

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-1-2-3-chinese-rowlands-gill/menu',
  'name': '1 2 3 Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-100menu-wn1/menu',
  'name': '100 Menu',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [83]:
#Ordenados en orden descendente
chinos_ord = list(c.find({"type_of_food": "Chinese"}, proy).sort("rating",-1))

In [87]:
chinos_ord[0:5]

[{'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-168chinese-ls18/menu',
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-4inlove-pe30/menu',
  'name': '4 in Love',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [85]:
# ascendente
chinos_as = list(c.find({"type_of_food": "Chinese"}, proy).sort("rating",1))

In [86]:
chinos_as[0:5]

[{'URL': 'http://www.just-eat.co.uk/restaurants-asiaasia-so53/menu',
  'name': 'Asia Asia',
  'rating': 3.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-bamboo-garden-chinese-takeaway-manchester/menu',
  'name': 'Bamboo Garden Chinese Takeaway',
  'rating': 3.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-88noodlebar-hd1/menu',
  'name': '88 Noodle Bar',
  'rating': 4,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-amazing-ls6/menu',
  'name': 'Amazing',
  'rating': 4,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-arirang-se11/menu',
  'name': 'Arirang',
  'rating': 4,
  'type_of_food': 'Chinese'}]

### `limit`

Podemos `limitar` el resultado de un `find`

In [100]:
chinos_limit = list(c.find({"type_of_food": "Chinese"}, proy).sort("rating",-1).limit(5))
chinos_limit

[{'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-4inlove-pe30/menu',
  'name': '4 in Love',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-168chinese-ls18/menu',
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [99]:
list(c.find({"type_of_food": "Chinese"}, proy).limit(3).sort("rating",-1)) #se puede limitar antes de ordenar pero ¬øtiene sentido?

[{'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-168chinese-ls18/menu',
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

### `skip`
Podemos `omitir` algunos resultados de un `find`    
Llame al m√©todo skip() en un cursor para controlar d√≥nde empieza MongoDB a devolver resultados. Este enfoque puede ser √∫til para implementar resultados paginados.

In [94]:
chinos_skip = list(c.find({"type_of_food": "Chinese"}, proy).sort("rating",-1).skip(2))

In [101]:
list(c.find({"type_of_food": "Chinese"}, proy).sort("rating",-1))[0:3]

[{'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-168chinese-ls18/menu',
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [103]:
chinos_skip[0:4]

[{'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-4inlove-pe30/menu',
  'name': '4 in Love',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-350wok-ws10/menu',
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

## Operadores de consulta t√≠picos
Los operadores de consulta van precedidos del signo de d√≥lar `$`.

### Mayor que / Menor que
Es un campo num√©rico mayor o menor que un valor determinado

In [104]:
# Menor que: less than
c.find({"rating": {"$lt": 4}})

In [105]:
menor_4 = {"rating":{"$lt": 4}}

In [108]:
list(c.find(menor_4,proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'}]

In [109]:
# Mayor que: greater than
mayor_3 = {"rating":{"$gt": 3}}

In [110]:
list(c.find(mayor_3,proy).limit(3)) #PONGO LOS LIMIT PARA VUESTRA SALUD CON LOS PRINT ¬øOK?

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [114]:
# Mayor o igual / Menor o igual a√±adimos la e
list(c.find({"rating": {"$lte": 4}}, proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'}]

In [115]:
list(c.find({"rating": {"$gte": 4}}, proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [121]:
type_ = input("Qu√© quieres buscar? ")
rating = int(input("¬øDe cu√°nto? "))

Qu√© quieres buscar? rating
¬øDe cu√°nto? 5

In [126]:
# Escribir la sintaxis en una variable puede sernos √∫til
filtro = {type_: {"$gte": rating}}

In [127]:
list(c.find(filtro,proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'name': '007 Takeaway',
  'rating': 6,
  'type_of_food': 'Pizza'}]

### `exists`    
Cuando <boolean> es verdadero, $exists coincide con los documentos que contienen el campo, incluidos los documentos en los que el valor del campo es nulo. Si <boolean> es falso, la consulta devuelve s√≥lo los documentos que no contienen el campo

In [132]:
list(c.find({"rating": {"$exists": True}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'address': '9 Broughton Hall Road',
  'address line 2': 'Broughton',
  'name': '@Indian.com',
  'outcode': 'CH4',
  'postcode': '0QR',
  'rating': 6,
  'type_of_food': 'Curry'}]

In [134]:
#¬†No hay ning√∫n documento  que no tenga el campo "address line 2"
# Comprobamos los registros a los que les falta un campo con false
list(c.find({"address": {"$exists": False}}))

[]

In [141]:
# Otros m√©todos a investigar de mongo
"$sum"
"$multiply"

'$multiply'

### `regex`     
Ofrece la posibilidad de utilizar expresiones regulares para la b√∫squeda de patrones en las consultas.

In [135]:
query = {"name": {"$regex": ".*Halal.*"}}

In [136]:
list(c.find(query,proy))

[{'URL': 'http://www.just-eat.co.uk/restaurants-acha-halal-chinese-cuisine-birmingham/menu',
  'name': 'Acha Halal Chinese Cuisine',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'name': 'Beirut Lebanese Halal Restaurant',
  'rating': 4.5,
  'type_of_food': 'Lebanese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'name': 'Beirut Lebanese Halal Restaurant',
  'rating': 4.5,
  'type_of_food': 'Lebanese'}]

In [137]:
query2 = {"name": {"$regex": ".*\d*."}}

In [139]:
list(c.find(query2,proy).limit(4))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'name': '007 Takeaway',
  'rating': 6,
  'type_of_food': 'Pizza'}]

### `and`      
Realiza una operaci√≥n l√≥gica AND en una matriz de una o m√°s expresiones (por ejemplo, <expresi√≥n1>, <expresi√≥n2>, etc.) y selecciona los documentos que satisfacen todas las expresiones de la matriz. El operador $and utiliza la evaluaci√≥n en circuito corto. Si la primera expresi√≥n (por ejemplo, <expresi√≥n1>) se eval√∫a como falsa, MongoDB no evaluar√° las expresiones restantes.

Sintaxis del AND  
`find({"$and": [cond1, cond2]})`

In [149]:
cond1 = {"type_of_food": "Pizza"}
cond2 = {"rating": {"$gte": 3}}
cond3 = {"name": {"$regex": ".*\d*."}}

In [153]:
list(c.find({"$and": [{"type_of_food": "Pizza"}, {"rating": {"$gte": 2}}, {"name": {"$regex": ".*\d*."}}]}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051b34'),
  'URL': 'http://www.just-eat.co.uk/restaurants-109restaurant-w2/menu',
  'address': '109 Westbourne Park Road',
  'address line 2': 'London',
  'name': '109 Ristorante',
  'outcode': 'W2',
  'postcode': '5QL',
  'rating': 5,
  'type_of_food': 'Pizza'}]

In [155]:
list(c.find({"$and": [cond1,cond2,cond3]}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051b34'),
  'URL': 'http://www.just-eat.co.uk/restaurants-109restaurant-w2/menu',
  'address': '109 Westbourne Park Road',
  'address line 2': 'London',
  'name': '109 Ristorante',
  'outcode': 'W2',
  'postcode': '5QL',
  'rating': 5,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051b3a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-1pizza1com-ls26/menu',
  'address': '160 Leeds Road',
  'address line 2': 'Leeds',
  'name': '1pizza1',
  'outcode': 'LS26',
  'postcode': '0JH',
  'rating': 4,
  'type_of_food': 'Pizza'}]

In [ ]:
# Tambi√©n funciona as√≠ 
{"type_of_food": "Chinese", "rating": {"$gte":5},"name": {"$regex": ".*\d*."}}

In [ ]:
#¬†NO LO HAG√ÅIS AS√ç, AUNQUE FUNCIONA

In [158]:
list(c.find({"type_of_food": "Chinese", "rating": {"$gte":5},"name": {"$regex": ".*\d*."}},proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-100menu-wn1/menu',
  'name': '100 Menu',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [159]:
#CONDICIONES ILIMITADAS

### `or`     
El operador or realiza una operaci√≥n l√≥gica OR en una matriz de dos o m√°s expresiones y selecciona los documentos que satisfacen al menos una de las expresiones.    
El operador $or tiene la siguiente sintaxis:      
`colecci√≥n.find({"$or": [condici√≥n1, condici√≥n, condici√≥n3 ]})`

In [160]:
cond1

{'type_of_food': 'Pizza'}

In [161]:
pasta = {'type_of_food': 'Pasta'}

In [216]:
list(c.find({"$or": [cond1,pasta]},proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'name': '007 Takeaway',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-109restaurant-w2/menu',
  'name': '109 Ristorante',
  'rating': 5,
  'type_of_food': 'Pizza'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-1pizza1com-ls26/menu',
  'name': '1pizza1',
  'rating': 4,
  'type_of_food': 'Pizza'}]

In [ ]:
# Hacemos una query que mezcle and y or y sea: Mayor que 3 y (chino o tailand√©s)(MAYOR QUE 3 SEA CHINO O THAILAND)

In [166]:
mayor = {"rating":{"$gt":3}}
chi = {"type_of_food": "Chinese"}
thai = {"type_of_food": "Thai"}

In [217]:
list(c.find({"$and": [{"$or": [chi,thai]}, mayor]}, proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [171]:
# Hacemos una query que mezcle and y or y sea: Mayor que 3 y chino, o tailand√©s (los chinos mayor que 3 y los thai me da igual)

In [175]:
list(c.find({"$or": [{"$and": [mayor, chi]}, thai]}, proy).limit(5))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'name': '@ Thai',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-1-2-3-chinese-rowlands-gill/menu',
  'name': '1 2 3 Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'}]

### `ne`    
Not equal  
Selecciona los documentos en los que el valor del campo no es igual al valor especificado. Esto incluye los documentos que no contienen el campo.

In [177]:
list(c.find({"type_of_food": {"$ne": "Pizza"}, "rating": 6}, proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-aarthi-sw19/menu',
  'name': 'Aarthi',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-absharindian-ig6/menu',
  'name': 'Abshar Indian Cuisine',
  'rating': 6,
  'type_of_food': 'Punjabi'}]

### `in`     
El operador in selecciona los documentos en los que el valor de un campo es igual a cualquier valor de la matriz especificada. Para especificar una expresi√≥n $in, utilice el siguiente prototipo:     
```python
{ field: { $in: [<value1>, <value2>, ... <valueN> ] } }
 ```

In [180]:
list(c.find({"rating": {"$in": [3.5,5,6]}}, proy).limit(5))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'name': '007 Takeaway',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-104-turkish-BBQ/menu',
  'name': '104 Turkish BBQ',
  'rating': 5,
  'type_of_food': 'Turkish'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-100menu-wn1/menu',
  'name': '100 Menu',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [181]:
list(c.find({"rating": {"$in": list(range(0,5))}}, proy).limit(5))

[{'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'name': '042 Restaurant & Bar',
  'rating': 3,
  'type_of_food': 'African'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-1pizza1com-ls26/menu',
  'name': '1pizza1',
  'rating': 4,
  'type_of_food': 'Pizza'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-1st-choice-pizza-ws11/menu',
  'name': '1st Choice Pizza',
  'rating': 4,
  'type_of_food': 'Pizza'}]

In [183]:
lista_cosas = ["Pizza", "Thai", "hola no doy error"]

In [184]:
list(c.find({"type_of_food": {"$in": lista_cosas}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051b29'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

### `nin`     

Sintaxis: 
```python
{ campo: { $nin: [ <valor1>, <valor2> ... <valorN> ]} }
```

not in selecciona los documentos en los que

- el valor del campo no est√° en la matriz especificada 
- el campo no existe.

In [185]:
list(c.find({"rating": {"$nin": [2,3,4]}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'address': '9 Broughton Hall Road',
  'address line 2': 'Broughton',
  'name': '@Indian.com',
  'outcode': 'CH4',
  'postcode': '0QR',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

# Se os ha ido la olla... 
Pero os dejo un [art√≠culo](https://www.it-swarm-es.com/es/python/por-que-en-numpy-nan-nan-es-false-mientras-que-nan-en-nan-es-true/1042928406/)

In [187]:
import numpy as np

In [188]:
np.nan == np.nan

False

Si no quiero que me de los que no tienen ese campo, tendr√≠a que hacer un AND

In [193]:
cond_exi = {"rating": {"$exists": True}}

In [194]:
list(c.find({"$and":[{"rating": {"$nin": [2,3,4]}}, cond_exi]}, proy).limit(3))

[{'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'name': '@Indian.com',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'name': '@ Thai Restaurant',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

##¬†Update    
Modifica un documento o documentos existentes en una colecci√≥n. El m√©todo puede modificar campos espec√≠ficos de un documento o documentos existentes o reemplazar un documento existente por completo, dependiendo del par√°metro de actualizaci√≥n.   
Cuidado, esta acci√≥n no se puede deshacer.     
Sintaxis:
```python
colecci√≥n.update_many(condici√≥n/filtro, actualizaci√≥n)
```

Podemos actualizar un campo con `$set` y con `$unset` lo borramos

In [234]:
c.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 'Not yet rated']

In [238]:
list(c.find({"rating": "Not yet rated"}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b36'),
  'URL': 'http://www.just-eat.co.uk/restaurants-133-takeaway-irvine/menu',
  'address': '133 Fullarton Street',
  'address line 2': 'Irvine',
  'name': '133 Takeaway',
  'outcode': 'KA12',
  'postcode': '8DG',
  'rating': 'Not yet rated',
  'type_of_food': 'Breakfast'}]

In [240]:
c.update_many(
    {"rating": "Not yet rated"},
    {"$set": {"rating": 0}}
)

In [241]:
list(c.find({"rating": "Not yet rated"}).limit(1))

[]

In [243]:
c.update_many(
    {"rating": 0},
    {"$set": {"type_of_food": "Ni se sabe"}}
)

In [244]:
list(c.find({"rating": 0}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b36'),
  'URL': 'http://www.just-eat.co.uk/restaurants-133-takeaway-irvine/menu',
  'address': '133 Fullarton Street',
  'address line 2': 'Irvine',
  'name': '133 Takeaway',
  'outcode': 'KA12',
  'postcode': '8DG',
  'rating': 0,
  'type_of_food': 'Ni se sabe'}]

In [246]:
list(c.find({"rating": 1}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051ceb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'postcode': '9SE',
  'rating': 1,
  'type_of_food': 'Chicken'}]

In [247]:
c.update_many(
    {"rating": 1},
    {"$unset": {"postcode": "Ni se sabe"}}
)

In [259]:
c.update_many(
    {"$and": [{"rating": {"$in":[0,1,2,3]}},{"postcode": "ni se sabe"}]},
    {"$unset": {"postcode": {}}}
)

In [260]:
# Utilizamos exists para ver los que no tienen campo postcode
list(c.find({"postcode": {"$exists": False}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051ceb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'rating': 1,
  'type_of_food': 'Chicken'},
 {'_id': ObjectId('55f14312c7447c3da7051cec'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'rating': 1,
  'type_of_food': 'Chicken'},
 {'_id': ObjectId('55f14312c7447c3da7051d35'),
  'URL': 'http://www.just-eat.co.uk/restaurants-alaowerrirestaurant-se14/menu',
  'address': '129 New Cross Road',
  'address line 2': 'London',
  'name': 'Alaowerri Restaurant',
  'outcode': 'SE14',
  'rating': 1,
  'type_of_food': 'African'}]

In [ ]:
# La sintaxis del UNSET se escribe con un diccionario vac√≠o

In [258]:
c.update_many(
    {"rating": 0},
    {"$unset": {"outcode":{}}}

)

##¬†Query 7 del lab . All the companies that have a null type of value on the category_code field.¬∂

In [257]:
list(companies.find({"category_code": {"$type": "null"}}, {"_id":0, "name":1}).limit(4)) #Mongodb no tiene None

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'}]

In [253]:
 list(companies.find({"category_code": None}, {"_id":0, "name":1}).limit(4)) #el None de python es el null de mongo

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'}]

## Delete     
Elimina de una colecci√≥n todos los documentos que coinciden con el filtro.
Sintaxis:
```python
c.delete_many(condition/filtro)
```

In [261]:
c.delete_many({"rating":0})

In [262]:
list(c.find({"rating":0}))

[]

##¬†Insert

Insertamos documentos en la colecci√≥n
Sintaxis 
```python
db.collection.insert()
```

In [266]:
documento = {"hola": "qu√© tal","direcci√≥n": "Paseo de la chopera 14", "otra cosa": "vale"}

In [264]:
db.restaurants.insert(documento)

<ipython-input-264-807d32585737>:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  db.restaurants.insert(documento)

ObjectId('618b85612919246b78507deb')

In [267]:
c.insert_one(documento)

In [268]:
lista = [{"holllla": "qu√© tal","direcci√≥n": "Paseo de la chopera 14", "otra cosa": "vale"}, {"diferente": "qu√© tal","direcci√≥n": "Paseo de la chopera 14", "otra cosa": "vale"}]

In [269]:
c.insert_many(lista)

In [270]:
list(c.find({"otra cosa": "vale"}))

[{'_id': ObjectId('618b85872919246b78507dec'),
  'hola': 'qu√© tal',
  'direcci√≥n': 'Paseo de la chopera 14',
  'otra cosa': 'vale'},
 {'_id': ObjectId('618b85ba2919246b78507ded'),
  'holllla': 'qu√© tal',
  'direcci√≥n': 'Paseo de la chopera 14',
  'otra cosa': 'vale'},
 {'_id': ObjectId('618b85ba2919246b78507dee'),
  'diferente': 'qu√© tal',
  'direcci√≥n': 'Paseo de la chopera 14',
  'otra cosa': 'vale'}]

##¬†Info extra 
Campos de consulta anidados

In [196]:
db.list_collection_names()

['companies', 'restaurants']

In [197]:
companies = db.get_collection("companies")

In [198]:
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [218]:
#companies.find_one()

In [209]:
me_guardo_uno = companies.find_one()

In [211]:
me_guardo_uno["offices"]

[{'description': '',
  'address1': '710 - 2nd Avenue',
  'address2': 'Suite 1100',
  'zip_code': '98104',
  'city': 'Seattle',
  'state_code': 'WA',
  'country_code': 'USA',
  'latitude': 47.603122,
  'longitude': -122.333253},
 {'description': '',
  'address1': '270 Lafayette Street',
  'address2': 'Suite 505',
  'zip_code': '10012',
  'city': 'New York',
  'state_code': 'NY',
  'country_code': 'USA',
  'latitude': 40.7237306,
  'longitude': -73.9964312}]

In [200]:
ejemplo = {"acquisition.acquired_month": {"$gt": 4}}

In [219]:
new_york = {"offices.city": "New York"}
list(companies.find(new_york).limit(3));

In [204]:
list(companies.find(ejemplo).limit(3));

In [205]:
filtro = {"offices.description": "Headquarters"}

In [208]:
list(companies.find(ejemplo).limit(3));

##¬†Resumen
Tu turno ¬øqu√© hemos aprendido hoy?
- Mongo
- Localhost:27017 (d√≥nde est√° mi servidor y en qu√© puerto) --> Establecemos la conexi√≥n con MongoClient
- Utilizo comillas siempre porque dentro de mongo funcionan y en python no funciona sin comillas
- Filtramos los datos de la base de datos ("lte,gte,in,not in")
- En mongodbcompass no podemos usar variables
- Cuidado que va TOPADENTRO
- Proyecci√≥n, para traer solo los campos que necesito
- Regex nos flipa
- Condiciones, and, or... y fantas√≠as varias
- Estructura de las MongoDB --> Base de datos (colecciones(documentos(campos:valores))
- cuando hago un find viene un ITERADOR/CURSOR DE MONGO entonces hago list(colecci√≥n.find(loquesea))

## Further Materials
- Cursos de mongo desarrollados directamente por MongoDB (gratis y MUY COMPLETOS) [AQU√ç](https://university.mongodb.com/)
- Art√≠culo tutorial [primeros pasos](https://www.ionos.es/digitalguide/paginas-web/desarrollo-web/tutorial-de-mongodb-primeros-pasos/)

- Qu√© es mongo: [conceptos interesantes avanzados no vistos en clase](https://openwebinars.net/blog/que-es-mongodb/) 
- Beginner`s guide mongo con [python](https://www.analyticsvidhya.com/blog/2020/02/mongodb-in-python-tutorial-for-beginners-using-pymongo/)