# Recap MongoDB vs SQL

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Cómo-vemos-todos-los-elementos-de-una-colección?" data-toc-modified-id="¿Cómo-vemos-todos-los-elementos-de-una-colección?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Cómo vemos todos los elementos de una colección?</a></span></li><li><span><a href="#Visualizar-solo-algunos-elementos" data-toc-modified-id="Visualizar-solo-algunos-elementos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Visualizar solo algunos elementos</a></span></li><li><span><a href="#Query-con-una-condición-en-MongoDB" data-toc-modified-id="Query-con-una-condición-en-MongoDB-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Query con una condición en MongoDB</a></span></li><li><span><a href="#Limitamos-query" data-toc-modified-id="Limitamos-query-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limitamos query</a></span></li></ul></div>

Para conectarnos a una base de datos de Mongo con Python utilizamos pymongo

In [3]:
from pymongo import MongoClient

In [4]:
#Mongoclient nos conecta al servidor
client = MongoClient("localhost:27017")

In [5]:
#Get database nos conecta a la base de datos EN CONCRETO
db = client.get_database("ironhack")

In [4]:
# Nos conecta a la colección  que queramos dentro de la base de datos

In [6]:
c = db.get_collection("restaurants")

In [7]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'restaurants')

En MYSQL tenemos TABLAS relacionadas y en MongoDB tenemos COLECCIONES no relacionadas entre sí.

## ¿Cómo vemos todos los elementos de una colección?

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(list(c.find({})))

In [10]:
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5,Chinese
1,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai
2,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
3,55f14312c7447c3da7051b29,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
4,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6,Curry

## Visualizar solo algunos elementos

In [11]:
proj = {"_id":0, "address":1, "name":1, "URL":1}

In [12]:
df = pd.DataFrame(list(c.find({}, proj)))

In [13]:
df.head()

,URL,address,name
0,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,.CN Chinese
1,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,@ Thai
2,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,@ Thai Restaurant
3,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,@ Thai Restaurant
4,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,@Indian.com

## Query con una condición en MongoDB

In [14]:
condicion = {"rating": 5}

In [16]:
#Sintaxis con diccionarios
pd.DataFrame(list(c.find(condicion, proj))).head()

,URL,address,name
0,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,.CN Chinese
1,http://www.just-eat.co.uk/restaurants-100-degr...,67 Park Street,100 Degrees Chinese Restaurant
2,http://www.just-eat.co.uk/restaurants-100menu-...,50 Wallgate,100 Menu
3,http://www.just-eat.co.uk/restaurants-104-turk...,104 Tanners Lane,104 Turkish BBQ
4,http://www.just-eat.co.uk/restaurants-109resta...,109 Westbourne Park Road,109 Ristorante

## Limitamos query

In [18]:
pd.DataFrame(list(c.find(condicion, proj).limit(5))).head()

,URL,address,name
0,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,.CN Chinese
1,http://www.just-eat.co.uk/restaurants-100-degr...,67 Park Street,100 Degrees Chinese Restaurant
2,http://www.just-eat.co.uk/restaurants-100menu-...,50 Wallgate,100 Menu
3,http://www.just-eat.co.uk/restaurants-104-turk...,104 Tanners Lane,104 Turkish BBQ
4,http://www.just-eat.co.uk/restaurants-109resta...,109 Westbourne Park Road,109 Ristorante